.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.table-header {
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: '2px solid black';
}

.table-data {
  font-size: 1rem;
  padding: 10px;
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: absolute;
  top: 25px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  top:25px;
  right:200px;
  position: absolute;
}

.page-number {
  padding: 8px;
  margin: 0 8px;
  border: 1px solid gray;
  cursor: pointer;
}

.page-number.active {
  background-color: gray;
  color: white;
}